button.btn.btn-outline-secondary(type="button", [openDelay]="500", [ngbPopover]="signinTemplate", triggers="manual", (click)="signinPopover.open()", autoClose="outside", #signinPopover="ngbPopover", [hidden]="loading || !state.mode.is.signin()")
  | Authenticate
button.btn.btn-outline-secondary(type="button", [openDelay]="500", [ngbPopover]="signupTemplate", triggers="manual", (click)="signupPopover.open()", autoClose="outside", #signupPopover="ngbPopover", [hidden]="loading || !state.mode.is.signup()")
  | Authenticate
button.btn.btn-outline-secondary(type="button", [openDelay]="500", [ngbPopover]="passwordResetTemplate", triggers="manual", (click)="passwordResetPopover.open()", autoClose="outside", #passwordResetPopover="ngbPopover", [hidden]="loading || !state.mode.is.passwordReset()")
  | Authenticate
button.btn.btn-outline-primary(type="button", [openDelay]="500", [ngbPopover]="authenticatedTemplate", triggers="manual", (click)="authenticatedPopover.open()", autoClose="outside", #authenticatedPopover="ngbPopover", [hidden]="loading || !state.mode.is.authenticated()")
  | Your account

ng-template(#signinTemplate="")
  form.mb-0(#signinForm="ngForm", (ngSubmit)="onSignin(signinForm)")
    .form-group
      .input-group
        .input-group-prepend
          span.input-group-text
            i.fas.fa-envelope
        input.form-control.form-control-sm(ngModel="", name="email", placeholder="Email", type="email", email="", required="", spellcheck="false")
    .form-group
      .input-group
        .input-group-prepend
          span.input-group-text
            i.fas.fa-lock
        input.form-control.form-control-sm(ngModel="", name="password", placeholder="Password", type="password", required="")
      small.text-muted Your account will be locked after 3 failed attempts.
    .form-group
      button.btn.btn-sm.btn-outline-primary.btn-block(type="submit", [disabled]="signinForm.invalid || state.signin.loading")
        span(*ngIf="!state.signin.loading") Sign in
        span(*ngIf="state.signin.loading")
          i.fas.fa-cog.fa-spin
    div(*ngIf="state.signin.errors")
      .alert.alert-danger.text-center(*ngFor="let error of state.signin.errors") {{ error }}
    .form-group.text-center.mb-0
      small.btn.btn-sm.btn-link.btn-sm((click)="switchMode(Mode.Signup, true)") Don't have an account?
    .form-group.text-center.mb-0
      small.btn.btn-sm.btn-link.btn-sm((click)="switchMode(Mode.PasswordReset, true)") Forgot your password?

ng-template(#signupTemplate="")
  form.mb-0(#signupForm="ngForm", (ngSubmit)="onSignup(signupForm)")
    .form-group
      .input-group
        .input-group-prepend
          span.input-group-text
            i.fas.fa-envelope
        input.form-control.form-control-sm(ngModel="", name="email", placeholder="Email", type="email", email="", required="", spellcheck="false")
    .form-group
      .input-group
        .input-group-prepend
          span.input-group-text
            i.fas.fa-user
        input.form-control.form-control-sm(ngModel="", name="nickname", placeholder="Nickname", type="text", required="", spellcheck="false")
    .form-group
      .input-group
        .input-group-prepend
          span.input-group-text
            i.fas.fa-lock
        input.form-control.form-control-sm(ngModel="", name="password", placeholder="Password", type="password", required="")
    .form-group
      .input-group
        .input-group-prepend
          span.input-group-text
            i.fas.fa-lock
        input.form-control.form-control-sm(ngModel="", name="passwordConfirmation", placeholder="Password confirmation", type="password", required="")
    .form-group
      button.btn.btn-sm.btn-outline-primary.btn-block(type="submit", [disabled]="signupForm.invalid || state.signup.loading")
        span(*ngIf="!state.signup.loading") Sign up
        span(*ngIf="state.signup.loading")
          i.fas.fa-cog.fa-spin
    div(*ngIf="state.signup.errors")
      .alert.alert-danger.text-center(*ngFor="let error of state.signup.errors") {{ error }}
    .alert.alert-primary.text-center(*ngIf="state.signup.success") Check your email
    .form-group.text-center.mb-0
      small.btn.btn-sm.btn-link.btn-xs((click)="switchMode(Mode.Signin, true)") Already have an account?

ng-template(#passwordResetTemplate="")
  form.mb-0(#passwordResetForm="ngForm", (ngSubmit)="onPasswordResetRequest(passwordResetForm)")
    .form-group
      .input-group
        .input-group-prepend
          span.input-group-text
            i.fas.fa-envelope
        input.form-control.form-control-sm(ngModel="", name="email", placeholder="Email", type="email", email="", required="", spellcheck="false")
    .form-group
      button.btn.btn-sm.btn-outline-primary.btn-block(type="submit", [disabled]="passwordResetForm.invalid || state.passwordReset.loading")
        span(*ngIf="!state.passwordReset.loading") Request password reset
        span(*ngIf="state.passwordReset.loading")
          i.fas.fa-cog.fa-spin
    div(*ngIf="state.passwordReset.errors")
      .alert.alert-danger.text-center(*ngFor="let error of state.passwordReset.errors") {{ error }}
    .alert.alert-primary.text-center(*ngIf="state.passwordReset.success") An email with further instructions has been sent to that address, if it exists.
    .form-group.text-center.mb-0
      small.btn.btn-sm.btn-link.btn-xs((click)="switchMode(Mode.Signin, true)") Click here to sign in
    .form-group.text-center.mb-0
      small.btn.btn-sm.btn-link.btn-xs((click)="switchMode(Mode.Signup, true)") ... or here to register

ng-template(#authenticatedTemplate="")
  div(*ngIf="player")
    .alert.alert-default.text-center {{ player.nickname }}
    .form-group
      button.btn.btn-sm.btn-outline-danger.btn-block(type="button", (click)="onSignout()", [disabled]="state.signout.loading")
        span(*ngIf="!state.signout.loading")
          i.fas.fa-sign-out-alt
          | Signout
        span(*ngIf="state.signout.loading")
          i.fas.fa-cog.fa-spin
    div(*ngIf="state.signout.errors")
      .alert.alert-danger.text-center(*ngFor="let error of state.signout.errors") {{ error }}
    .alert.alert-primary.text-center(*ngIf="state.signout.success") Signed out
